{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
  {#  {{ form_widget(form) }}#}
    
        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

            <div class="row">
                {{ form_errors(form.current_password) }}
                <div class="col-sm-3">
                    {{ form_label(form.current_password) }}
                </div>
                <div class="col-sm-3">
                    {{ form_widget(form.current_password) }}
                </div>
            </div>
            <div class="row">
                {{ form_errors(form.plainPassword.first) }}
                <div class="col-sm-3">
                    {{ form_label(form.plainPassword.first) }}
                </div>
                <div class="col-sm-3">
                    {{ form_widget(form.plainPassword.first) }}
                </div>
            </div>
                  <div class="row">
                {{ form_errors(form.plainPassword.second) }}
                <div class="col-sm-3">
                    {{ form_label(form.plainPassword.second) }}
                </div>
                <div class="col-sm-3">
                    {{ form_widget(form.plainPassword.second) }}
                </div>
            </div>
           


            {# Génération du label + error + widget pour un champ #}
            {{ form_row(form.current_password) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
       




            {{ form_end(form) }}

        </div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
